<% default_title @book.name %>


      <div class="pageBook">
        <div class="panelBookInfo">
          <div class="infoBlok">
            <div class="posterBook">
              <img src="/assets/images/poster/imageBook3.jpg" alt="Bool" />
            </div>
            <div class="onePanelBook">
              <div class="bookInfoBlok">
                <h1 class="nameBook">Моя жизнь, мои достижения</h1>
                <div class="nameAuthor">Генри Форд</div>
                <div class="yearDivBook">6 ноября 2015 г.</div>
                <div class="izdatelDivBook">Litres</div>
              </div>
              <div class="bottonPanelBookInfo">
                <a href="index2.html" class="addBookButton">Добавить в мои книги</a>
                <div class="blokStars">
                  <div class="icoStarR"></div>
                  <div class="icoStarR"></div>
                  <div class="icoStarR"></div>
                  <div class="icoStarZ"></div>
                  <div class="icoStar"></div>
                </div>
                <div>
                  <a class="battonLike" href="index2.html">
                    <div class="likeImg"></div>
                    <div>4</div>
                  </a>
                  <a href="index2.html" class="otzivPlus">
                    <div class="plusText">+</div>
                    <div class="battonTextOtziv">Написать отзыв</div>
                  </a>
                </div>
              </div>
            </div>
            <div class="readCategorBook">
              <div class="menu1">
                <br id="tab2"/><br id="tab3"/>
                <a href="#tab1" class="activeMenu1"><div class="eBookBlok"></div><div class="eBookText">Цифровая книга</div></a>
                <a href="#tab2"><div class="eAuBookBlok"></div><div class="eAuBookText">Цифровая аудиокнига</div></a>
                <a href="#tab3"><div class="bBookBlok"></div><div class="bBookText">Бумажная книга</div></a>
                <!--<div class="blokButtonRead">
                  <div class="commentBlok">
                    <div class="commentText">
                      <div class="commentMargin">ЛУЧШИЙ ОТЗЫВ</div>
                      <div class="icoStarR"></div>
                      <div class="narratorsRaiting">5.0</div>
                    </div>
                    <div>Очень понравился голос читающего диктора, все четк но вот некоторы...</div>
                  </div>
                  <div class="commentBlok">
                    <div class="commentText">
                      <div class="commentMargin">ХУДШИЙ ОТЗЫВ</div>
                      <div class="icoStarR"></div>
                      <div class="narratorsRaiting">5.0</div>
                    </div>
                    <div>Вроде голос у дикотора не плохой, но вот некоторы но вот некоторы...</div>
                  </div>
                  <a href="index2.html" class="buttonReadWhile">Читать</a>
                </div>-->
                <div class="blokButtonRead">
                  <div class="commentBlok">
                    <div class="commentTextReadUsers">СЛУЧАЙНЫЙ ОТЗЫВ</div>
                    <div class="commentText">
                      <div class="icoUsersShelf">
                        <img src="/assets/images/icoUsers/2.jpeg" />
                      </div>
                      <div class="commentMargin">ЮСУПОВ РАСУЛ</div>
                      <div class="icoStarR"></div>
                      <div class="narratorsRaiting">5.0</div>
                    </div>
                    <div>Очень понравился голос читающего диктора, все четк но вот некоторы Очень понравился голос читающего 
                        диктора, все четк но вот некоторы Очень понравился голос читающего диктора, все четк но вот некоторы...</div>
                  </div>
                  <a href="index2.html" class="buttonReadWhile">Читать</a>
                  <div class="numbPageRead">21 гл.</div>
                  <div class="numbPageRead">231 стр.</div>
                </div>
                <div class="listOfReaders">
                  <div class="readerBlok">
                    <div class="readerInfo">
                      <div class="narratorsName">Диктор: Геннадий Смирнов</div>
                      <div class="icoStarR"></div>
                      <div class="narratorsRaiting">5.0</div>
                    </div>
                    <a href="index.html" class="buttonReader">Отзывы (4)</a>
                    <a href="index.html" class="buttonReader">Оставить отзыв</a>
                    <a href="index.html" class="buttonReader">Слушать</a>
                  </div>
                  <div class="readerBlok">
                    <div class="readerInfo">
                      <div class="narratorsName">Геннадий Смирнов</div>
                      <div class="icoStarR"></div>
                      <div class="narratorsRaiting">5.0</div>
                    </div>
                    <a href="index.html" class="buttonReader">Отзывы (4)</a>
                    <a href="index.html" class="buttonReader">Оставить отзыв</a>
                    <a href="index.html" class="buttonReader">Слушать</a>
                  </div>
                </div>
                <div class="listPaperBooks">
                  <h4>Желаете книгу в бумажном виде?</h4>
                  <div class="internShopBook">
                    <img src="/assets/images/internetShop/logoOzonRu.png">
                    <span class="spanColorPrice">324 р.</span>
                    <a href="index2.php" class="buttonReadWhile">Купить</a>
                  </div>
                  <div class="internShopBook">
                    <img src="/assets/images/internetShop/logoOzonRu.png">
                    <span class="spanColorPrice">324 р.</span>
                    <a href="index2.php" class="buttonReadWhile">Купить</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="twoPanelBook">
            <section class="tabs">
              <input id="tab_1" checked="checked" name="tab" type="radio" /> 
              <input id="tab_2" name="tab" type="radio" /> 
              <input id="tab_3" name="tab" type="radio" /> 
              <input id="tab_4" name="tab" type="radio" /> 
              <label id="tab_l1" for="tab_1">Описание</label> 
              <label id="tab_l2" for="tab_2">Отзывы 34</label>
              <label id="tab_l3" for="tab_3">Цитаты 21</label>
              <label id="tab_l4" for="tab_4">Полки 221</label>
              <div class="clearBoth" style="clear: both;">†</div>
              <div class="tabs_cont descText">
                <div id="tab_c1">
                  <p>
                    В 2012 году миллионы людей в мире верили, что конец света близок. Многих это заставило переосмыслить свою жизнь и что-то изменить, 
                    а многие просто забыли об этом и стали жить, как и раньше. Но что было бы, если бы апока - липсис про изошел на самом деле? Или если 
                    бы Третья мировая война стерла бы почти всех людей с лица Земли? Книга «Метро 2035» — размышление на эту тему, антиутопия, в которой 
                    описывается суровый постапокалиптический мир и жизнь горстки людей, которым удалось выжить.
                  </p>
                  <p>
                    «Метро 2035» — это завершающая книга из знаменитой трилогии, написанной Дмитрием Глуховским. После войны плане та стала пустынной, 
                    мегаполисы — заброшенными, потеряна связь. Выжить удалось лишь тем, кто под звуки сирены успел укрыться в московском метро. Под землей 
                    люди создали себе новый мирок, где они отчаянно цепляются за жизнь и надею тся, что вернуться наверх им когда-нибудь удастся. А еще у них 
                    остается надежда, что есть и дру -гие выжившие и когда-ниб удь появится шанс их найти. Это мрачная, суровая книга, в которой автор не 
                    стесняется в выражениях, но зато описывает лю дей и жизнь, раскрывает психологические проблемы и вопросы, которые важны для каждого человека.
                  </p>
                </div>
                <div id="tab_c2">
                  <p>В данный момент эта возможность не доступна.</p>
                </div>
                <div id="tab_c3">
                  <p>В данный момент эта возможность не доступна.</p>
                </div>
                <div id="tab_c4">
                  <p>В данный момент эта возможность не доступна.</p>
                </div>
              </div>
            </section>
          </div>
        </div>
        <div class="rightPanelBooks" id="tabRightPanelBooks">
          <div class="notebook">
                        <input id="notebook1d_1" checked="checked" name="notebook1d" type="radio" /> 
                        <label for="notebook1d_1">
              <div class="panelFunctions">
                <div class="panelText">Похожие книги</div>
                <div class="panelBatton"><a href="index.html">Все похожие книги</a></div>
                <!--<div class="arrowsIco">
                  <div class="arrowLeft left"><div></div></div>
                  <div class="arrowRight right"><div></div></div>
                </div>-->
              </div>            
            </label>
            <button  class="leftScrollButton">
              <div class="arrowLeft"><div></div></div>
            </button >
            <button  class="rightScrollButton">
              <div class="arrowRight"><div></div></div>
            </button >
            <div class="element">
              <div class="panelScrollBookRight">
                <div class="recomendBook">
                  <img class="rightPanelImgPoster" src="/assets/images/poster/imageBook1.jpg" />
                  <div class="rightPanelInfoBook">
                    <div class="imgRed"></div>
                    <div class="rightPanelNameBook">Илон Маск</div>
                    <div class="rightPanelName">Эшли Вэнс</div>
                    <div class="rightPanelDesc">Третья мировая стерла чело- вечество с лица Земли. 
                        Планета опустела. Мегапо- лисы обращены в прах и пепел. 
                        Железные дороги ржавеют. Спутники оди...
                    </div>
                    <div class="rightPanelBotton">
                      <div>
                        <a href="index2.html" class="buttonReadWhile">Читать</a>
                        <a href="index2.html" class="buttonReadWhile">Слушать</a>
                      </div>
                      <a href="index2.html" class="blokAdd">
                        <div class="icoAdd"></div>
                        <div class="textAdd">Добавить к себе на полку</div>
                      </a>
                    </div>                
                    <div class="blokStars">
                      <div class="icoStarR"></div>
                      <div class="icoStarR"></div>
                      <div class="icoStarR"></div>
                      <div class="icoStarZ"></div>
                      <div class="icoStar"></div>
                    </div>
                  </div>
                </div>
                <div class="recomendBook">
                  <img class="rightPanelImgPoster" src="/assets/images/poster/imageBook1.jpg" />
                  <div class="rightPanelInfoBook">
                    <div class="imgRed"></div>
                    <div class="rightPanelNameBook">Илон Маск</div>
                    <div class="rightPanelName">Эшли Вэнс</div>
                    <div class="rightPanelDesc">Третья мировая стерла чело- вечество с лица Земли. 
                        Планета опустела. Мегапо- лисы обращены в прах и пепел. 
                        Железные дороги ржавеют. Спутники оди...
                    </div>
                    <div class="rightPanelBotton">
                      <div>
                        <a href="index2.html" class="buttonReadWhile">Читать</a>
                        <a href="index2.html" class="buttonReadWhile">Слушать</a>
                      </div>
                      <a href="index2.html" class="blokAdd">
                        <div class="icoAdd"></div>
                        <div class="textAdd">Добавить к себе на полку</div>
                      </a>
                    </div>                
                    <div class="blokStars">
                      <div class="icoStarR"></div>
                      <div class="icoStarR"></div>
                      <div class="icoStarR"></div>
                      <div class="icoStarZ"></div>
                      <div class="icoStar"></div>
                    </div>
                  </div>
                </div>
                <div class="recomendBook">
                  <img class="rightPanelImgPoster" src="/assets/images/poster/imageBook2.jpg" />
                  <div class="rightPanelInfoBook">
                    <div class="imgRed"></div>
                    <div class="rightPanelNameBook">Илон Маск</div>
                    <div class="rightPanelName">Эшли Вэнс</div>
                    <div class="rightPanelDesc">Третья мировая стерла чело- вечество с лица Земли. 
                        Планета опустела. Мегапо- лисы обращены в прах и пепел. 
                        Железные дороги ржавеют. Спутники оди...
                    </div>
                    <div class="rightPanelBotton">
                      <div>
                        <a href="index2.html" class="buttonReadWhile">Читать</a>
                        <a href="index2.html" class="buttonReadWhile">Слушать</a>
                      </div>
                      <a href="index2.html" class="blokAdd">
                        <div class="icoAdd"></div>
                        <div class="textAdd">Добавить к себе на полку</div>
                      </a>
                    </div>                
                    <div class="blokStars">
                      <div class="icoStarR"></div>
                      <div class="icoStarR"></div>
                      <div class="icoStarR"></div>
                      <div class="icoStarZ"></div>
                      <div class="icoStar"></div>
                    </div>
                  </div>
                </div>
                <div class="recomendBook">
                  <img class="rightPanelImgPoster" src="/assets/images/poster/imageBook3.jpg" />
                  <div class="rightPanelInfoBook">
                    <div class="imgRed"></div>
                    <div class="rightPanelNameBook">Илон Маск</div>
                    <div class="rightPanelName">Эшли Вэнс</div>
                    <div class="rightPanelDesc">Третья мировая стерла чело- вечество с лица Земли. 
                        Планета опустела. Мегапо- лисы обращены в прах и пепел. 
                        Железные дороги ржавеют. Спутники оди...
                    </div>
                    <div class="rightPanelBotton">
                      <div>
                        <a href="index2.html" class="buttonReadWhile">Читать</a>
                        <a href="index2.html" class="buttonReadWhile">Слушать</a>
                      </div>
                      <a href="index2.html" class="blokAdd">
                        <div class="icoAdd"></div>
                        <div class="textAdd">Добавить к себе на полку</div>
                      </a>
                    </div>                
                    <div class="blokStars">
                      <div class="icoStarR"></div>
                      <div class="icoStarR"></div>
                      <div class="icoStarR"></div>
                      <div class="icoStarZ"></div>
                      <div class="icoStar"></div>
                    </div>
                  </div>
                </div>
                <div class="recomendBook">
                  <img class="rightPanelImgPoster" src="/assets/images/poster/imageBook4.jpg" />
                  <div class="rightPanelInfoBook">
                    <div class="imgRed"></div>
                    <div class="rightPanelNameBook">Илон Маск</div>
                    <div class="rightPanelName">Эшли Вэнс</div>
                    <div class="rightPanelDesc">Третья мировая стерла чело- вечество с лица Земли. 
                        Планета опустела. Мегапо- лисы обращены в прах и пепел. 
                        Железные дороги ржавеют. Спутники оди...
                    </div>
                    <div class="rightPanelBotton">
                      <div>
                        <a href="index2.html" class="buttonReadWhile">Читать</a>
                        <a href="index2.html" class="buttonReadWhile">Слушать</a>
                      </div>
                      <a href="index2.html" class="blokAdd">
                        <div class="icoAdd"></div>
                        <div class="textAdd">Добавить к себе на полку</div>
                      </a>
                    </div>                
                    <div class="blokStars">
                      <div class="icoStarR"></div>
                      <div class="icoStarR"></div>
                      <div class="icoStarR"></div>
                      <div class="icoStarZ"></div>
                      <div class="icoStar"></div>
                    </div>
                  </div>
                </div>
                <div class="recomendBook">
                  <img class="rightPanelImgPoster" src="/assets/images/poster/imageBook4.jpg" />
                  <div class="rightPanelInfoBook">
                    <div class="imgRed"></div>
                    <div class="rightPanelNameBook">Илон Маск</div>
                    <div class="rightPanelName">Эшли Вэнс</div>
                    <div class="rightPanelDesc">Третья мировая стерла чело- вечество с лица Земли. 
                        Планета опустела. Мегапо- лисы обращены в прах и пепел. 
                        Железные дороги ржавеют. Спутники оди...
                    </div>
                    <div class="rightPanelBotton">
                      <div>
                        <a href="index2.html" class="buttonReadWhile">Читать</a>
                        <a href="index2.html" class="buttonReadWhile">Слушать</a>
                      </div>
                      <a href="index2.html" class="blokAdd">
                        <div class="icoAdd"></div>
                        <div class="textAdd">Добавить к себе на полку</div>
                      </a>
                    </div>                
                    <div class="blokStars">
                      <div class="icoStarR"></div>
                      <div class="icoStarR"></div>
                      <div class="icoStarR"></div>
                      <div class="icoStarZ"></div>
                      <div class="icoStar"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <input id="notebook1d_2" name="notebook1d" type="radio" /> 
                        <label for="notebook1d_2">
            <div class="panelFunctions">
                <div class="panelText">Другие книги автора</div>
                <div class="panelBatton"><a href="index.html">Все книги автора</a></div>
                <!--<div class="arrowsIco">
                  <div class="arrowLeft left"><div></div></div>
                  <div class="arrowRight right"><div></div></div>
                </div>-->
              </div>            
            </label>
            <button  class="leftScrollButton">
              <div class="arrowLeft"><div></div></div>
            </button >
            <button  class="rightScrollButton">
              <div class="arrowRight"><div></div></div>
            </button >
            <div class="element">
              
              <div class="recomendBook">
                <img class="rightPanelImgPoster" src="/assets/images/poster/imageBook1.jpg" />
                <div class="rightPanelInfoBook">
                  <div class="imgRed"></div>
                  <div class="rightPanelNameBook">Илон Маск</div>
                  <div class="rightPanelName">Эшли Вэнс</div>
                  <div class="rightPanelDesc">Третья мировая стерла чело- вечество с лица Земли. 
                      Планета опустела. Мегапо- лисы обращены в прах и пепел. 
                      Железные дороги ржавеют. Спутники оди...
                  </div>
                  <div class="rightPanelBotton">
                    <div>
                      <a href="index2.html" class="buttonReadWhile">Читать</a>
                      <a href="index2.html" class="buttonReadWhile">Слушать</a>
                    </div>
                    <a href="index2.html" class="blokAdd">
                      <div class="icoAdd"></div>
                      <div class="textAdd">Добавить к себе на полку</div>
                    </a>
                  </div>                
                  <div class="blokStars">
                    <div class="icoStarR"></div>
                    <div class="icoStarR"></div>
                    <div class="icoStarR"></div>
                    <div class="icoStarZ"></div>
                    <div class="icoStar"></div>
                  </div>
                </div>
              </div>
              <div class="recomendBook">
                <img class="rightPanelImgPoster" src="/assets/images/poster/imageBook2.jpg" />
                <div class="rightPanelInfoBook">
                  <div class="imgRed"></div>
                  <div class="rightPanelNameBook">Илон Маск</div>
                  <div class="rightPanelName">Эшли Вэнс</div>
                  <div class="rightPanelDesc">Третья мировая стерла чело- вечество с лица Земли. 
                      Планета опустела. Мегапо- лисы обращены в прах и пепел. 
                      Железные дороги ржавеют. Спутники оди...
                  </div>
                  <div class="rightPanelBotton">
                    <div>
                      <a href="index2.html" class="buttonReadWhile">Читать</a>
                      <a href="index2.html" class="buttonReadWhile">Слушать</a>
                    </div>
                    <a href="index2.html" class="blokAdd">
                      <div class="icoAdd"></div>
                      <div class="textAdd">Добавить к себе на полку</div>
                    </a>
                  </div>                
                  <div class="blokStars">
                    <div class="icoStarR"></div>
                    <div class="icoStarR"></div>
                    <div class="icoStarR"></div>
                    <div class="icoStarZ"></div>
                    <div class="icoStar"></div>
                  </div>
                </div>
              </div>
              <div class="recomendBook">
                <img class="rightPanelImgPoster" src="/assets/images/poster/imageBook4.jpg" />
                <div class="rightPanelInfoBook">
                  <div class="imgRed"></div>
                  <div class="rightPanelNameBook">Илон Маск</div>
                  <div class="rightPanelName">Эшли Вэнс</div>
                  <div class="rightPanelDesc">Третья мировая стерла чело- вечество с лица Земли. 
                      Планета опустела. Мегапо- лисы обращены в прах и пепел. 
                      Железные дороги ржавеют. Спутники оди...
                  </div>
                  <div class="rightPanelBotton">
                    <div>
                      <a href="index2.html" class="buttonReadWhile">Читать</a>
                      <a href="index2.html" class="buttonReadWhile">Слушать</a>
                    </div>
                    <a href="index2.html" class="blokAdd">
                      <div class="icoAdd"></div>
                      <div class="textAdd">Добавить к себе на полку</div>
                    </a>
                  </div>                
                  <div class="blokStars">
                    <div class="icoStarR"></div>
                    <div class="icoStarR"></div>
                    <div class="icoStarR"></div>
                    <div class="icoStarZ"></div>
                    <div class="icoStar"></div>
                  </div>
                </div>
              </div>
              <div class="recomendBook">
                <img class="rightPanelImgPoster" src="/assets/images/poster/imageBook3.jpg" />
                <div class="rightPanelInfoBook">
                  <div class="imgRed"></div>
                  <div class="rightPanelNameBook">Илон Маск</div>
                  <div class="rightPanelName">Эшли Вэнс</div>
                  <div class="rightPanelDesc">Третья мировая стерла чело- вечество с лица Земли. 
                      Планета опустела. Мегапо- лисы обращены в прах и пепел. 
                      Железные дороги ржавеют. Спутники оди...
                  </div>
                  <div class="rightPanelBotton">
                    <div>
                      <a href="index2.html" class="buttonReadWhile">Читать</a>
                      <a href="index2.html" class="buttonReadWhile">Слушать</a>
                    </div>
                    <a href="index2.html" class="blokAdd">
                      <div class="icoAdd"></div>
                      <div class="textAdd">Добавить к себе на полку</div>
                    </a>
                  </div>                
                  <div class="blokStars">
                    <div class="icoStarR"></div>
                    <div class="icoStarR"></div>
                    <div class="icoStarR"></div>
                    <div class="icoStarZ"></div>
                    <div class="icoStar"></div>
                  </div>
                </div>
              </div>
            </div>

            <input id="notebook1d_3" name="notebook1d" type="radio" /> 
                        <label for="notebook1d_3">
            <div class="panelFunctions">
                <div class="panelText">Похожие авторы</div>
                <div class="panelBatton"><a href="index.html">Все похожие авторы</a></div>
                <!--<div class="arrowsIco">
                  <div class="arrowLeft left"><div></div></div>
                  <div class="arrowRight right"><div></div></div>
                </div>-->
              </div>            
            </label>
            <button  class="leftScrollButton">
              <div class="arrowLeft"><div></div></div>
            </button >
            <button  class="rightScrollButton">
              <div class="arrowRight"><div></div></div>
            </button >
            <div class="element">
              
              <div class="recomendBook">
                <img class="rightPanelImgPoster" src="/assets/images/poster/imageBook1.jpg" />
                <div class="rightPanelInfoBook">
                  <div class="imgRed"></div>
                  <div class="rightPanelNameBook">Илон Маск</div>
                  <div class="rightPanelName">Эшли Вэнс</div>
                  <div class="rightPanelDesc">Третья мировая стерла чело- вечество с лица Земли. 
                      Планета опустела. Мегапо- лисы обращены в прах и пепел. 
                      Железные дороги ржавеют. Спутники оди...
                  </div>
                  <div class="rightPanelBotton">
                    <div>
                      <a href="index2.html" class="buttonReadWhile">Читать</a>
                      <a href="index2.html" class="buttonReadWhile">Слушать</a>
                    </div>
                    <a href="index2.html" class="blokAdd">
                      <div class="icoAdd"></div>
                      <div class="textAdd">Добавить к себе на полку</div>
                    </a>
                  </div>                
                  <div class="blokStars">
                    <div class="icoStarR"></div>
                    <div class="icoStarR"></div>
                    <div class="icoStarR"></div>
                    <div class="icoStarZ"></div>
                    <div class="icoStar"></div>
                  </div>
                </div>
              </div>
              <div class="recomendBook">
                <img class="rightPanelImgPoster" src="/assets/images/poster/imageBook2.jpg" />
                <div class="rightPanelInfoBook">
                  <div class="imgRed"></div>
                  <div class="rightPanelNameBook">Илон Маск</div>
                  <div class="rightPanelName">Эшли Вэнс</div>
                  <div class="rightPanelDesc">Третья мировая стерла чело- вечество с лица Земли. 
                      Планета опустела. Мегапо- лисы обращены в прах и пепел. 
                      Железные дороги ржавеют. Спутники оди...
                  </div>
                  <div class="rightPanelBotton">
                    <div>
                      <a href="index2.html" class="buttonReadWhile">Читать</a>
                      <a href="index2.html" class="buttonReadWhile">Слушать</a>
                    </div>
                    <a href="index2.html" class="blokAdd">
                      <div class="icoAdd"></div>
                      <div class="textAdd">Добавить к себе на полку</div>
                    </a>
                  </div>                
                  <div class="blokStars">
                    <div class="icoStarR"></div>
                    <div class="icoStarR"></div>
                    <div class="icoStarR"></div>
                    <div class="icoStarZ"></div>
                    <div class="icoStar"></div>
                  </div>
                </div>
              </div>
              <div class="recomendBook">
                <img class="rightPanelImgPoster" src="/assets/images/poster/imageBook4.jpg" />
                <div class="rightPanelInfoBook">
                  <div class="imgRed"></div>
                  <div class="rightPanelNameBook">Илон Маск</div>
                  <div class="rightPanelName">Эшли Вэнс</div>
                  <div class="rightPanelDesc">Третья мировая стерла чело- вечество с лица Земли. 
                      Планета опустела. Мегапо- лисы обращены в прах и пепел. 
                      Железные дороги ржавеют. Спутники оди...
                  </div>
                  <div class="rightPanelBotton">
                    <div>
                      <a href="index2.html" class="buttonReadWhile">Читать</a>
                      <a href="index2.html" class="buttonReadWhile">Слушать</a>
                    </div>
                    <a href="index2.html" class="blokAdd">
                      <div class="icoAdd"></div>
                      <div class="textAdd">Добавить к себе на полку</div>
                    </a>
                  </div>                
                  <div class="blokStars">
                    <div class="icoStarR"></div>
                    <div class="icoStarR"></div>
                    <div class="icoStarR"></div>
                    <div class="icoStarZ"></div>
                    <div class="icoStar"></div>
                  </div>
                </div>
              </div>
              <div class="recomendBook">
                <img class="rightPanelImgPoster" src="/assets/images/poster/imageBook3.jpg" />
                <div class="rightPanelInfoBook">
                  <div class="imgRed"></div>
                  <div class="rightPanelNameBook">Илон Маск</div>
                  <div class="rightPanelName">Эшли Вэнс</div>
                  <div class="rightPanelDesc">Третья мировая стерла чело- вечество с лица Земли. 
                      Планета опустела. Мегапо- лисы обращены в прах и пепел. 
                      Железные дороги ржавеют. Спутники оди...
                  </div>
                  <div class="rightPanelBotton">
                    <div>
                      <a href="index2.html" class="buttonReadWhile">Читать</a>
                      <a href="index2.html" class="buttonReadWhile">Слушать</a>
                    </div>
                    <a href="index2.html" class="blokAdd">
                      <div class="icoAdd"></div>
                      <div class="textAdd">Добавить к себе на полку</div>
                    </a>
                  </div>                
                  <div class="blokStars">
                    <div class="icoStarR"></div>
                    <div class="icoStarR"></div>
                    <div class="icoStarR"></div>
                    <div class="icoStarZ"></div>
                    <div class="icoStar"></div>
                  </div>
                </div>
              </div>
            </div>

          </div>          
          <style>
            .element {
              overflow: hidden;
            }
            .rightScrollButton, .leftScrollButton {
              padding: 0;
              margin: 0;
              border: 0;
              background: rgb(123,133,152);
              position: absolute;
              top: 34px;
            }
            .rightScrollButton {
              right: 234px;
            }
            .leftScrollButton {
              right: 269px;
            }
            .panelScrollBookRight{
              transition: all 0.5s ease;
            }
          </style>
        </div>
        </div>



<div>
  <span>Название:</span>
  <span><%=@book.name%></span>
</div>
<div>
  <div>Автор</div>
  <ul>
  <%@book.authors.each do |author|%>
    <li>
      <span class="_author-name">
        <a href="<%=author_path author%>"><%=author.surname%> <%=author.given_name.first%>. <%=author.given_name.first%>.</a>
      </span>
      <span class="_author-birthday">(<%=author.birthday_start%>)</span>
    </li>
  <%end%>
  </ul>

  <span>Жанр:</span>
  <span>
  <%@book.genres.each do |genre|%>
      <span class="_author-name"><%=genre.name%></span>
  <%end%>
  </span>

  <br><br>
  <div>Описание</div>
  <hr>
  <div>
    <%=@book.description%>
  </div>
</div>
<hr>