<!DOCTYPE html>
<html>
<head>
  <title><%=title%></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'global.css'%>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="/assets/javascripts/jquery.nicescroll.min.js"></script>
  <script type="text/javascript">
  $("html").niceScroll({cursorcolor: 'rgb(123,133,152)', cursorborder: '0', cursorwidth: '10px', cursorborderradius: '0'});
  </script>
  <%= csrf_meta_tags %>
</head>
<body>
		<div class="footer-menu-litl box_hide">
			<div class="footer-back"></div>
			<div class="footer-window-litl footerMenu">
					<a href="#">О сервисе</a>
					<a href="#">Обратная связь</a>
					<a href="#">Служба поддержки</a>
					<a href="#">Партнерам</a>
					<a href="#">Правообладателям</a>
					<a href="#">Не нашли нужную книгу?</a>
					<a href="#">Услуги b2b</a>
					<a href="#">Вакансии</a>
					<a href="#">Подписка для компаний</a>
			</div>
		</div>
		<div id="left-column">
			<div class="logo"><a href="#">КнигаЖизнь</a></div>
			<div class="search"><div class="searchIco"></div></div>
			<ul class="leftMenu">
				<li><a href="#"><span class="lmenu-button-ico lm-but-icoBook"></span><span class="lmenu-button-name">Мои книги</span></li>
				<li><a href="#"><span class="lmenu-button-ico lm-but-icoShelf"></span><span class="lmenu-button-name">Библиотека</span></a></li>
				<li><a title="Вкладка с подписками пользователя" href="#"><span class="lmenu-button-ico lm-but-icoShelf"></span><span class="lmenu-button-name">Подписки</span></a></li>
				<li><a href="#"><span class="lmenu-button-ico lm-but-icoGenres"></span><span class="lmenu-button-name">Жанр</span></a></li>
				<li><a href="#"><span class="lmenu-button-ico lm-but-icoFree"></span><span class="lmenu-button-name">Бесплатные книги</span></a></li>
				<li><a href="#"><span class="lmenu-button-ico lm-but-icoAutor"></span><span class="lmenu-button-name">Авторы</span></a></li>
				<li><a href="#"><span class="lmenu-button-ico lm-but-icoBooks"></span><span class="lmenu-button-name">Серии книг</span></a></li>
			</ul>
			<div class="battonRead">
				<a href="#" title="Продолжить читать последнюю книгу"><span class="battonImgRead"><img src="assets/images/poster/imageBook3.jpg" /></span><span class="battonTextRead">Продолжить чтение...</span></a>
			</div>
			<div id="bottonBlok">
				<div class="footerMenu">
					<a href="#">О сервисе</a>
					<a href="#">Обратная связь</a>
					<a href="#">Служба поддержки</a>
					<a href="#">Партнерам</a>
					<a href="#">Правообладателям</a>
					<a href="#">Не нашли нужную книгу?</a>
					<a href="#">Услуги b2b</a>
					<a href="#">Вакансии</a>
					<a href="#">Подписка для компаний</a>
				</div>
				
				<div class="bottonLoginButton">
					<div class="loginButton"><a href="index.html">Вход</a></div>
					<div class="regisButton"><a href="index.html">Регистрация</a></div>
				</div>
			</div>
			<div title="Другие вкладки" class="button-other-min-menu"><span></span></div>
			<a title="Авторизация" href="#" class="button-login-min-menu"><span></span></a>
		</div>

<div id="main-column">

<%= yield %>

</div>
</body>
</html>
